.header-logo,
.footer {
    background-image: url("../images/water-banner-header.jpg");
}

.slogan-shop {
    font-size: 0.6em;
    color: #fff;
}

/* 
body{
    background-image: url("../images/bdg_body.png");
    background-repeat: no-repeat;
    background-size: cover;
} */
.contactinfo {
    font-size: 0.9em;
    color: #000;
}

.social-icons-contact{
    font-size: 1.9em;
    color: #000;
 
}

.navbar-nav {
    font-size: 1.3em;
}


.header-enter {
    color: #000;
    font-size: 0.7em;
}

.item-menu,
.item-submenu {
    color: #000;
}

.item-menu:hover, .item-submenu:hover {
    color: rgb(119, 88, 31);
}

.active {
    color: rgb(200, 50, 50);
    font-weight: bold;
}

.hr-horizontal-gradient {
	height: 3px;
	border: none;
    background: linear-gradient(45deg, #01406b, #028eaf, #b0d5de);
}