
.header-logo,
.footer {
    background-image: url("../images/water-banner-header.jpg");
}

header{
    background-color: #fff;
}
.slogan-shop {
    font-size: 0.6em;
    color: #fff;
}

.contactinfo {
    font-size:1em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.social-icons-contact{
    font-size: 3em;
    color: #000;
 
}

.social-icons{
    font-size: 1.5em;
    color: #000;
 
}

.navbar-nav {
    font-size: 1.3em;
}


.header-enter {
    color: #000;
    font-size: 0.7em;
}

.item-menu,
.item-submenu {
    color: #000;
    font-weight: normal;
}

.item-menu:hover, .item-submenu:hover {
    border-bottom: 2px solid #028eaf;
}

.active {
    color: rgb(200, 50, 50);
    font-weight: bold;
}

.hr-horizontal-gradient {
	height: 3px;
	border: none;
    background: linear-gradient(45deg, #01406b, #028eaf, #b0d5de);
}

.main-container{
    margin-top: 170px;
    margin-bottom: 50px;
    padding: 10px 10%;
    

}

.list-item-payment{
    list-style: square;
}

.section-center{
    width: 60%;
    background-color: rgb(161, 161, 161);
}

.section-left, .section-right{
    width: 20%;
    /* background-color: red; */
}

.carousel__is-new{
    background-color: #fff;
}

.img-recom{
    height: 15vh;
}

.new-date{
    font-size: 0.8em;
}
.new-title{
    font-size: 1em;
}
.new-text{
    font-size: 0.7em;
}



